body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 9999;
    background-color: rgba(42,42,42,0.6);
    color: white;
    text-align: center;
    padding: 4px;
}

#opacityContainer {
    position: absolute;
    right: 0px;
    width: 24px;
    height: 100%;
    padding-top: 7.5%;
    background-color: rgba(42,42,42,0.6);
    color: white;
    text-align: center;
    z-index: 9999;
}

#opacity {
    display: block;
    width: 16px;
    height: 70%;
    appearance: slider-vertical;
}